@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Teste Github Actions</p>
    <hr>
    <h2>Testado commit via github actions!</h2>
</div>
